[Unit]
Description=BLE to MQTT
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/me/homer-ble-2-mqtt-py/venv/bin/python3 /home/me/homer-ble-2-mqtt-py/ble2mqtt.py

[Install]
WantedBy=multi-user.target